{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "airbnb-base"
  ],
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx",
        "spec/*.js"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": [
      "error"
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
