<div class="login-container">
    <div class="login">
        <div class="login__logo"></div>
        <div class="login__title">
            Sign in to Telegram
        </div>
        <div class="login__desc">
            Please confirm your country and enter your phone number
        </div>
        <input id="phoneNumber"
               autocomplete="off"
               class="login__input"
               name="phone_number"
               type="tel">
        <input id="phoneNumberButton"
               type="button"
               value="Next">
    </div>
</div>
