<div class="password-container">
    <div class="password">
        <div id="passwordImg"  class="password__img"></div>
        <div class="password__title">Enter Password</div>
        <div class="password__desc">
            Please password your country and enter your phone number
        </div>
        <div id="passwordInput" class="password__input">
            <div class="password__input-label">Password</div>
            <input id="passwordCode"
                   autocomplete="off"
                   placeholder="Password"
                   class="password__input-control"
                   name="password_code"
                   type="password">
            <div id="passwordEye" class="password__input-eye"></div>
        </div>
        <div id="passwordButton" class="password__button">Next</div>
    </div>
</div>
