<div class="registration-container">
    <div class="registration">
        <div class="registration__img"></div>
        <div id="registrationPhone" class="registration__title">Your name</div>
        <div class="registration__desc">
            Enter your name
        </div>
        <div id="registrationName" class="registration__input">
            <div class="registration__input-label">Name</div>
            <input id="registrationNameInput"
                   autocomplete="off"
                   placeholder="Name"
                   class="registration__input-control"
                   type="text">
        </div>
        <div id="registrationLastname" class="registration__input">
            <div class="registration__input-label">Last Name (optional)</div>
            <input id="registrationLastnameInput"
                   autocomplete="off"
                   placeholder="Last Name (optional)"
                   class="registration__input-control"
                   type="text">
        </div>
        <div id="phoneNumberButton" class="registration__button">Start Messaging</div>
    </div>
</div>
