$confirmWidth: 360px;
$descWidth: 230px;
$imgSize: 160px;
$titleSize: 32px;

.confirm {
  width: $confirmWidth;
  min-width: 320px;
  max-width: $confirmWidth;
  display: flex;
  flex-flow: column;
  align-items: center;
  &-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__img {
    height: $imgSize;
    min-height: $imgSize;
    width: $imgSize;
    min-width: $imgSize;
    background-image: url(img/confirm__img@1x.png);
    background-size: contain;
    margin-bottom: 45px;
  }
  &__title {
    font-size: $titleSize;
    margin-bottom: 15px;
    text-align: center;
  }
  &__desc {
    width: $descWidth;
    font-size: 16px;
    line-height: 20.5px;
    text-align: center;
    color: #8c8c8c;
    margin-bottom: 50px;
  }
  &__input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #4ea4f7;
    position: relative;
    &-label {
      position: absolute;
      font-size: 12px;
      top: -16px;
      left: 15px;
      color: #4ea4f7;
      font-weight: 600;
      background: #fff;
      padding: 0 3px;
      display: none;
      transform-origin: 0 0;
      transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
      transform: translateY(8px);
    }
    &-control {
      background: none;
      border: none;
      outline: none;
      font-size: 16px;
      width: 100%;
      padding: 14px;
      box-sizing: border-box;
    }
    &_active {
      border-color: #4ea4f7;
      .confirm__input-label {
        display: block;
      }
    }
    &_error {
      border-color: #E53834;
      .confirm__input-label {
        display: block;
        color: #E53834;
        &:before {
          content: "Invalid ";
        }
      }
    }
  }
}

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
  .confirm {
    &__img {
      background-image: url(img/confirm__img@2x.png);
    }
  }
}