$loginWidth: 360px;
$descWidth: 230px;
$logoSize: 160px;
$titleSize: 32px;

.login {
  width: $loginWidth;
  min-width: 320px;
  max-width: $loginWidth;
  display: flex;
  flex-flow: column;
  align-items: center;
  &-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__logo {
    height: $logoSize;
    min-height: $logoSize;
    width: $logoSize;
    min-width: $logoSize;
    background-image: url(img/login__logo@1x.png);
    background-size: contain;
    border-radius: 50%;
    margin-bottom: 45px;
  }
  &__title {
    font-size: $titleSize;
    margin-bottom: 15px;
    text-align: center;
  }
  &__desc {
    width: $descWidth;
    font-size: 16px;
    line-height: 20.5px;
    text-align: center;
    color: #8c8c8c;
    margin-bottom: 50px;
  }
  &__input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #cfd1d7;
    position: relative;
    margin-bottom: 25px;
    &-label {
      position: absolute;
      background: #ffffff;
      font-size: 12px;
      top: -8px;
      left: 15px;
      color: #cfd1d7;
      font-weight: 600;
      padding: 0 3px;
      display: none;
      transition: display 0.4s, color 0.4s ease;
    }
    &-arrow {
      width: 11px;
      height: 11px;
      position: absolute;
      top: 15px;
      right: 18px;
      border-bottom: 2px solid #808b90;
      border-right: 2px solid #808b90;
      transform: rotate(45deg);
      &.active {
        transform: rotate(225deg);
        top: 22px;
      }
    }
    &-control {
      background: none;
      border: none;
      outline: none;
      font-size: 16px;
      width: 100%;
      padding: 17px 14px;
      box-sizing: border-box;
    }
    &_active {
      border-color: #cfd1d7;
      .login__input-label {
        display: block;
      }
    }
    &_focused {
      border-color: #4ea4f7;
      .login__input-label {
        color: #4ea4f7;
      }
      .login__input-arrow {
        border-bottom: 2px solid #4ea4f7;
        border-right: 2px solid #4ea4f7;
      }

    }
    &_error {
      border-color: #E53834;
      .login__input-label {
        display: block;
        color: #E53834;
        &:before {
          content: "Invalid ";
        }
      }
    }
  }
  &__button {
    width: 100%;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    border-radius: 7px;
    color: #fff;
    border: none;
    background-color: #4ea4f7;
    padding: 16px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    margin-bottom: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, color 0.4s ease;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  &__keep {
    font-size: 15px;
    flex-flow: row;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 43px;
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      margin-right: 34px;
      display: inline-block;
    }
  }
}
#countryInput {
  position: relative;
}
.countriesList {
  display: flex;
  flex-flow: column;
  max-height: 0;
  overflow-y: auto;
  position: absolute;
  background: #fff;
  box-shadow: 0 5px 8px 1px rgba(0,0,0,.24);
  z-index: 10;
  top: 62px;
  left:-3px;
  right: -3px;
  border-radius: 7px;
  padding: 9px 0;
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
  }
}
.countryItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f3;
  }
  .flag {
    left: 15px;
    font-size: 26px;
  }
  .name {
    width: 100%;
    padding: 0 30px;
  }
  .code {
    white-space: nowrap;
  }
}
.closeZone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  &.show {
    display: block;
  }
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
  .login {
    &__logo {
      background-image: url(img/login__logo@2x.png);
    }
  }
}
