$loginWidth: 360px;
$descWidth: 230px;
$logoSize: 160px;
$titleSize: 38px;

.login {
  width: $loginWidth;
  min-width: 320px;
  max-width: $loginWidth;
  display: flex;
  flex-flow: column;
  align-items: center;
  &-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__logo {
    height: $logoSize;
    min-height: $logoSize;
    width: $logoSize;
    min-width: $logoSize;
    background: url(img/login__logo@1x.png);
    border-radius: 50%;
    margin-bottom: 40px;
  }
  &__title {
    font-size: $titleSize;
    margin-bottom: 10px;
    text-align: center;
  }
  &__desc {
    width: $descWidth;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #8c8c8c;
    margin-bottom: 50px;
  }
  &__input {
    width: 100%;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #4ea4f7;
    padding: 14px;
  }
}