$avatarSize: 55px;
$unreadSize: 20px;
$pinnedSize: 24px;
$defaultIndent: 15px;
$chatListWidth: 360px;
$topBarHeight: 60px;

%layout {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}
.im {
  display: flex;
  flex-flow: row;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  &__leftBar {
    width: $chatListWidth;
    min-width: $chatListWidth;
    position: relative;
  }
  &__centerBar {
    width: 100%;
    position: relative;
    background-image: url('img/messages_bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__rightBar {
    width: 0;
    transition: width 0.5s;
    position: relative;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.24);
    &_open {
      width: 360px;
    }
  }
  &__chats {
    @extend %layout;
    width: $chatListWidth;
    top: $topBarHeight;
    border-right: 1px solid #DDDFE3;
  }
  &__messages {
    width: 100%;
    position: relative;
    flex: 1 1 auto;
    &-container {
      padding: 0 62px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: scroll;
    }
  }
  &__info {
    width: 100%;
    height: $topBarHeight;
    margin-bottom: 2px;
    &-container {
      height: $topBarHeight;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      .icon {
        margin-right: 10px;
      }
    }
  }
  &__send-messages {
    width: 100%;
    min-height: 95px;
    max-height: 300px;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 70px;
    flex: 0 1 auto;
    height: max-content;
    display: none;
  }
}
.chat-panel {
  &__item {
    $avatarSize: 44px;
    min-height: $topBarHeight;
    padding: 10px 70px;
    box-sizing: border-box;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    flex: 1 1 auto;
    &-title {
      padding: 4px 0;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      align-items: center;
      &-text {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
      }
    }
    &-status {
      color: #666b6e;
      font-size: 13px;
    }
    .chats__item-avatar {
      background-color: #d2d2d2;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      line-height: $avatarSize;
      width: $avatarSize;
      height: $avatarSize;
      min-width: $avatarSize;
      min-height: $avatarSize;
      position: absolute;
      top: 8px;
      left: $defaultIndent;
      text-transform: uppercase;
    }
  }
}
.send-messages {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 695px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  &__text-area {
    background: #fff;
    min-height: 55px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: -14px;
      width: 14px;
      height: 19px;
      bottom: -2px;
      border-radius: 0 0 0 22px;
      box-shadow: -11px 9px 0px 4px #fff;
    }
  }
  &__smiles {
    background-image: url('img/icons/smile_svg.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 55px;
    height: 55px;
    min-width: 55px;
  }
  &__input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-top: 20px;
    margin-bottom: 20px;
    line-height: 15px;
    box-sizing: border-box;
    max-height: 190px;
    font-size: 14px;
    overflow: auto;
    padding-right: 55px;
    &:empty {
      &:before {
        display: block;
      }
    }
    &:before {
      content: attr(placeholder);
      color: #9aa2ab;
      display: none;
      margin-top: -1px;
      margin-left: 1px;
      pointer-events: none;
    }
  }
  &__files {
    background-image: url('img/icons/attach_svg.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 55px;
    height: 55px;
    min-width: 55px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  %sendButton {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 8px;
    min-width: 55px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  &__send {
    @extend %sendButton;
    background-image: url('img/icons/send_svg.svg');
  }
  &__voice-message {
    @extend %sendButton;
    background-image: url('img/icons/microphone2_svg.svg');
  }
}
.chatsPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $topBarHeight;
  display: flex;
  flex-flow: row;
  &__menu {
    background-image: url(img/icons/menu_1x.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 50% 50%;
    width: 24px;
    height: 24px;
    padding: 18px 20px;
  }
  &__search {
    height: 42px;
    width: 100%;
    margin-top: 8px;
    margin-right: 20px;
    background: #F4F4F5;
    border-radius: 21px;
    display: flex;
    flex-flow: row;
    cursor: not-allowed;
    &-icon {
      background-image: url(img/icons/search_1x.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 50% 50%;
      width: 24px;
      height: 24px;
      margin-top: 9px;
      margin-left: 15px;
      margin-right: 10px;
      opacity: .5;
    }
    &-input {
      width: 205px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 42px;
      cursor: not-allowed;
    }
  }
}
#pinnedChats {
  border-bottom: 1px solid #eee;
}
.chats {
  width: 100%;
  display: flex;
  flex-flow: column;
  &__item {
    box-sizing: border-box;
    padding: 10px 80px;
    margin: 0 8px;
    min-height: 75px;
    position: relative;
    cursor: pointer;
    &:first-child {
      margin-top: 8px;
    }
    &:last-child {
      margin-bottom: 8px;
    }
    &_active {
      background: #F4F4F5;
      border-radius: 10px;
    }
    &-avatar {
      background-color: #d2d2d2;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      line-height: $avatarSize;
      width: $avatarSize;
      height: $avatarSize;
      min-width: $avatarSize;
      min-height: $avatarSize;
      position: absolute;
      top: 10px;
      left: $defaultIndent;
      text-transform: uppercase;
      &_saved {
        background-image: url(img/savedMessages.png)
      }
    }
    &-info {
      width: auto;
    }
    &-title {
      padding: 7px 0;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      align-items: center;
      &-text {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
      }
    }
    &-last {
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;
      color: #666b6e;
      text-overflow: ellipsis;
      span {
        color: #000;
      }
    }
    &-time {
      position: absolute;
      display: flex;
      top: $defaultIndent;
      right: $defaultIndent;
    }
    &-unread {
      position: absolute;
      bottom: $defaultIndent;
      right: $defaultIndent;
      min-width: $unreadSize;
      line-height: $unreadSize;
      color: #fff;
      text-align: center;
      height: $unreadSize;
      background-color: #4DCD5E;
      border-radius: $unreadSize/2;
      box-sizing: border-box;
      padding: 0 6px;
      &_mute {
        background-color: #c5c9cb;
      }
    }
    &-mute-icon {
      background-image: url('img/icons/nosound_svg.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      width: 19px;
      height: 14px;
      min-width: 19px;
      margin-left: 2px;
    }
    &-pinned {
      position: absolute;
      bottom: $defaultIndent;
      right: $defaultIndent;
      width: $pinnedSize;
      height: $pinnedSize;
      border-radius: $pinnedSize/2;
      box-sizing: border-box;
      background-image: url(img/icons/pinnedchat_svg.svg);
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      padding: 0 6px;
    }
  }
}
.messages {
  padding-top: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  max-width: 695px;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  &__item {
    padding: 0 10px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    overflow: hidden;
    &_out {
      justify-content: flex-end;
      .messages__item {
        &-text {
          background-color: #f1fee1;
          &:after {
            left: auto;
            right: -4px;
            border-radius: 0 0 0 22px;
            box-shadow: -5px 9px 0 4px #f1fee1;
          }
        }
        &-time {
          color: #60b458;
        }
      }
    }
    &_arrow {
      margin-bottom: 10px;
      .messages__item-text:after {
        display: block;
      }
    }
    &_channel {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      .messages__item-text {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
    &-text {
      max-width: 75%;
      width: auto;
      background-color: #fff;
      border-radius: 10px;
      font-size: 14px;
      line-height: 18px;
      display: inline-block;
      padding: 10px;
      word-break: break-word;
      a {
        color: #4592e4;
        text-decoration: none;
      }
      &_photo-cap {
        padding: 0;
        position: relative;
        .messages__item-text-content {
          display: inline-block;
          padding: 10px 10px 20px;
        }
        .image-container {
          border-radius: 10px 10px 0 0;
        }
        .messages__item-time {
          position: absolute;
          left: auto;
          top: auto;
          bottom: 3px;
          right: 4px;
          padding: 1px 5px;
          border-radius: 6px;
        }
        &:after {
          left: -14px !important;
        }
      }
      &_photo {
        padding: 0;
        position: relative;
        min-width: 60%;
        background: none;
        .image-container {
          border-radius: 10px;
        }
        &:after {
          display: none !important;
        }
        .messages__item-time {
          position: absolute;
          left: auto;
          top: auto;
          bottom: 3px;
          right: 3px;
          color: #fff;
          padding: 1px 5px;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 6px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: -4px;
        width: 14px;
        height: 19px;
        bottom: -2px;
        border-radius: 0 0 22px 0;
        box-shadow: 5px 9px 0 4px #fff;
        display: none;
      }
    }
    &-time {
      position: relative;
      left: 0;
      top: 8px;
      display: inline-block;
      color: #99a1ac;
      pointer-events: none;
      font-size: 11px;
      float: right;
      z-index: 10;
      padding-left: 7px;
    }
  }
}
.photo {
  width: 100%;
  padding-top: 70%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  min-width: 360px;
}
.sticker {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
  .chatsPanel__menu {
    background-image: url(img/icons/menu_2x.png);
  }
  .chatsPanel__search-icon {
    background-image: url(img/icons/search_2x.png);
  }
}
.loader-chat {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  display: none;
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 8px;
    border: 3px solid #5f9ddc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #5f9ddc transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}

.image-container {
  width: 100%;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bbc0c4;
}

.sticker-container {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  max-width: 128px;
  min-width: 128px;
  max-height: 128px;
  .messages__item-time {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    color: #fff;
    position: absolute;
    padding: 1px 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  }
}

.arrow {
  background-image: url('img/icons/1check_svg.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 18px;
  height: 14px;
  display: inline-block;
  margin-bottom: -2px;
  &_white {
    background-image: url('img/icons/1check_svg_white.svg');
  }
}

.arrow-read {
  background-image: url('img/icons/2checks_svg.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 18px;
  height: 14px;
  display: inline-block;
  margin-bottom: -2px;
  &_white {
    background-image: url('img/icons/2checks_svg_white.svg');
  }
}

.file {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
  &__icon {
    background-color: #4ba3e2;
    background-image: url(img/icons/document_svg.svg);
    background-size: 24px;
    background-position: 55% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  &__title {
    font-weight: bold;
  }
  &__size {
    color: #9aa2ab;
  }
}
.right-bar {
  min-width: 360px;
  &__top {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    justify-content: space-between;
    &-title {
      font-size: 18px;
      width: 100%;
      padding: 0 20px;
    }
  }
}

.info-page {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  &__avatar {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 25px;
    line-height: 120px;
    text-align: center;
    color: #fff;
    font-size: 48px;
  }
  &__title {
    font-size: 20px;
  }
}

.icon {
  width: 42px;
  min-width: 42px;
  height: 42px;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: rgba(112, 117, 121, 0.08);
  }
}
