$avatarSize: 55px;
$unreadSize: 20px;
$pinnedSize: 24px;
$defaultIndent: 15px;
$chatListWidth: 360px;
$topBarHeight: 60px;

%layout {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}
.im {
  display: flex;
  flex-flow: row;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
  &__leftBar {
    width: $chatListWidth;
    min-width: $chatListWidth;
  }
  &__centerBar {
    width: 100%;
  }
  &__rightBar {
    width: 0;
  }
  &__chats {
    @extend %layout;
    width: $chatListWidth;
    top: $topBarHeight;
    border-right: 1px solid #DDDFE3;
  }
  &__messages {
    @extend %layout;
    background: #E6EBEE;
    right: 0;
    left: $chatListWidth;
    top: $topBarHeight;
    bottom: 0;
  }
  &__info {
    //@extend %layout;
    position: absolute;
    left: $chatListWidth;
    right: 0;
    height: $topBarHeight;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    .chats__item {
      $avatarSize: 44px;
      min-height: $topBarHeight;
      padding: 10px 70px;
      &-title {
        padding: 4px 0;
      }
      &-avatar {
        width: $avatarSize;
        height: $avatarSize;
        min-width: $avatarSize;
        min-height: $avatarSize;
        line-height: $avatarSize;
        top: 8px;
      }
    }
  }
}
.chatsPanel {
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $topBarHeight;
  display: flex;
  flex-flow: row;
  &__menu {
    background-image: url(img/icons/menu_1x.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 50% 50%;
    width: 24px;
    height: 24px;
    padding: 18px 20px;
  }
  &__search {
    height: 42px;
    width: 100%;
    margin-top: 8px;
    margin-right: 20px;
    background: #F4F4F5;
    border-radius: 21px;
    display: flex;
    flex-flow: row;
    cursor: not-allowed;
    &-icon {
      background-image: url(img/icons/search_1x.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 50% 50%;
      width: 24px;
      height: 24px;
      margin-top: 9px;
      margin-left: 15px;
      margin-right: 10px;
      opacity: .5;
    }
    &-input {
      width: 205px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 42px;
      cursor: not-allowed;
    }
  }
}
#pinnedChats {
  border-bottom: 1px solid #eee;
}
.chats {
  width: 100%;
  display: flex;
  flex-flow: column;
  &__item {
    box-sizing: border-box;
    padding: 10px 80px;
    margin: 0 8px;
    min-height: 75px;
    position: relative;
    cursor: pointer;
    &:first-child {
      margin-top: 8px;
    }
    &:last-child {
      margin-bottom: 8px;
    }
    &_active {
      background: #F4F4F5;
      border-radius: 10px;
    }
    &-avatar {
      background-color: #d2d2d2;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      color: #ffffff;
      font-size: 24px;
      text-align: center;
      line-height: $avatarSize;
      width: $avatarSize;
      height: $avatarSize;
      min-width: $avatarSize;
      min-height: $avatarSize;
      position: absolute;
      top: 10px;
      left: $defaultIndent;
      text-transform: uppercase;
    }
    &-info {
      width: auto;
    }
    &-title {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
      text-overflow: ellipsis;
      padding: 7px 0;
    }
    &-last {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-time {
      position: absolute;
      display: flex;
      top: $defaultIndent;
      right: $defaultIndent;
    }
    &-unread {
      position: absolute;
      bottom: $defaultIndent;
      right: $defaultIndent;
      min-width: $unreadSize;
      line-height: $unreadSize;
      color: #fff;
      text-align: center;
      height: $unreadSize;
      background-color: #4DCD5E;
      border-radius: $unreadSize/2;
      box-sizing: border-box;
      padding: 0 6px;
    }
    &-pinned {
      position: absolute;
      bottom: $defaultIndent;
      right: $defaultIndent;
      width: $pinnedSize;
      height: $pinnedSize;
      border-radius: $pinnedSize/2;
      box-sizing: border-box;
      background-image: url(img/icons/pinnedchat_svg.svg);
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      padding: 0 6px;
    }
  }
}
.messages {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  &__item {
    padding: 10px;
    position: relative;
    display: flex;
    &_out {
      justify-content: flex-end;
    }
    &-text {
      max-width: 90%;
      width: auto;
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
    }
    &-time {
      margin-left: 15px;
      margin-top: 10px;
      white-space: nowrap;
      display: flex;
    }
  }
}
.photo {
  width: 100%;
  padding-top: 70%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  min-width: 360px;
}
.sticker {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
  .chatsPanel__menu {
    background-image: url(img/icons/menu_2x.png);
  }
  .chatsPanel__search-icon {
    background-image: url(img/icons/search_2x.png);
  }
}
